/* 祛除body默认左右两边的margin和padding */
body ,ul , li {
    margin: 0;
    padding: 0;
}

body {
    font:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

ul {
    list-style-type: none;
}
/* 初始化a标签，祛除下划线 */
a {
    text-decoration: none
}
.topbar {
    /* border: 1px solid black; */
    height: 40px;
    background-color: #333;
}
.container {
    margin: 0 auto;
    width: 1226px;
    /* border: 1px solid black; */
}

.topbar a {
    color: #b0b0b0;
    font-size: 12px;
}
.topbar a:hover {
    color: #fff;
}

/* container伪元素用来清除浮动 */
.container::before,.container::after ,
.clearfix::before , .clearfix::after {
    content: "";
    display: table;
}
.container::after ,.clearfix::after {
    clear: both;
}

.topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px;

    /* 消除|后跟的空格，|也没了 */
    font-size: 0;
}
.topbar-nav span {
    font-size: 12px;
    color: #424242;
    font-family: sans-serif;
    margin: 0.5em;
}
.topbar-info, .topbar-cart{
    float: right;
}
.topbar-cart a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 120px;
    background-color: #424242;
}
.topbar-cart a:hover {
    background-color: #fff;
    color: #ff6700;
}
.topbar-cart span {
    margin-left: -4px;
    font-size: 12px;
}
.topbar-cart i {
    font-size: 20px;
    line-height: 20px;
    margin-left: 4px;
}
.topbar-info {
    margin-right: 15px;
}
.topbar-info a {
    float: left;
    padding: 0 5px;
    line-height: 40px;
    height: 40px;
}
.topbar-info span {
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    color: #424242;
    line-height: 40px;
    height: 40px;
}
.topbar-info .sep {
    padding: 0 10px;
}

/* header */
.header {
    height: 100px;
}

.header-logo {
    float: left;
    width: 62px;
    height: 55px;
    margin-top: 22px;
    /* border: 1px solid black; */
}
.header-logo a {
    display: block;
    width: 55px;
    height: 55px;
    background: #ff6700 url(../img/mi-logo.png) no-repeat 50% 50%;
}
.header-logo .lr {
    text-align: left;

    /* 设置缩进：设置文字在图片加载时文字不显示 */
    text-indent: -9992em;
}

/* .header-nav */
.header-nav {
    float: left;
    width: 820px;
    height: 100px;
    /* border: 1px solid black; */
}
.header-nav .nav-list {
    width: 820px;
    height: 88px;
    font-size: 16px;
    padding: 12px 0 0 30px;
}
.header-nav .nav-list .nav-category {
    float: left;
    width: 127px;
    padding: 0 15px 0 0;
}
.header-nav .nav-list .nav-category a {
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}
.header-nav .nav-list .nav-item {
    float: left;
}
.header-nav .nav-list .nav-item a {
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}
.header-nav .nav-list .nav-item a:hover {
    color: #ff6700;
}
.header-search {
    float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
    border: 1px solid black;
}
.header-search .search-form {
    position: relative;
    display: block;
    width: 296px;
    height: 50px;
}
.header-search .search-form .search-text {
    position: absolute;
    top:0;
    right:51px;
    display: block;
    width: 245px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e0e0e0;

    /* 祛除search框移动上去的蓝色边框 */
    outline: 0;
}
.header-search .search-form .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
}
.header-search .search-form .search-btn:hover {
    background-color: #ff6700;
    color: #fff;
}